* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole header */
header {
    background-color: #3160E0;
    height: 40px;
}
/* regole generali container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    height: 40px;
    width: 70%;
    justify-content: space-between;
}

.sides {
    width: 20%;
    height: 70%;
}

.links{
    display: flex;
    justify-content: center;
    width: 80%;
}

#top-links{
    list-style: none;
}

.txt-bianco{
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}


.login {
    display: flex;
    justify-content: flex-end;
}

button{
    border-radius: 50px;
    border-style: none;
}

.login button{
    width: 40%;
    height: 100%;
}

/* regole jumbotron */
.jumbotron{
    background-image: url(./../img/jumbo.png);
    background-size: cover;
    height: 500px;
}

.column-container {  
    flex-direction: column;
 }

.size{
    font-size: 25px;
}

.text-center{
    text-align: center;
}

h2{
    margin-bottom: 10%;
}

.text {
    height: 90%;
    width: 50%;
}

#buttons{
    padding: 5% 7%;
    width: 100%;
    display: flex;
    height: 9%;
}

#buttons button{
    height: 100%;
}

.bianco{
    background-color: #fff;
}

.nero{
    background-color: black;
}

.download::before{
    content: "\2193 ";
    width: 40%;
}

.txt-nero{
    color: black;
}

#Open{
    width: 60;
    margin-left: 10%;
}

/* main */
 .testo-foto{
    width: 60%;
 }

.content{
    height: 90%;
    width: 70%;
}

.mid-section{
    width: auto;
}

.testo{
    padding: 0 5%;
    width: 40%;
    height: 100%:
}

.testo h2{
    width: 70%;
}

.grigio {
    background-color: grey;
}

.immagine{
    width: 60%;
    height: 100%;
}

.verde {
}

.end-main{
    height: 700px;
}

/* regole footer */
footer{     
    background-color: #23272A;
    height: 10%;
}

.top-footer{
    height: 400px;
}

.strech{
    align-items: stretch;
    height: 360px;
}

.salmone{
    
}

.ciano{
   
}

.divisore{
    border-bottom: solid white 1px;
    margin: 30px 0;
}

.bottom{
    justify-content: space-between;
    height: 40px;
}

.edges{
    
}
